
| <table border="0" id="table_fixed">
|     <thead>
|       <tr>
|         <th>Name</th>
|         <th>Gender</th>
|         <th>Phone</th>
|         <th>Country</th>
|         <th>Position</th>
|       </tr>
|     </thead>
| </table>
| <div id="contain">
|   <table border="0" id="table_scroll">
|     <tbody>
|       <tr>
|         <td>Salman</td>
|         <td>Male</td>
|         <td>0123456789</td>
|         <td>Indonesia</td>
|         <td>Front-end Developer</td>
|       </tr>
|       <tr>
|         <td>Salman</td>
|         <td>Male</td>
|         <td>0123456789</td>
|         <td>Indonesia</td>
|         <td>Front-end Developer</td>
|       </tr>
|       <tr>
|         <td>Salman</td>
|         <td>Male</td>
|         <td>0123456789</td>
|         <td>Indonesia</td>
|         <td>Front-end Developer</td>
|       </tr>
|       <tr>
|         <td>Salman</td>
|         <td>Male</td>
|         <td>0123456789</td>
|         <td>Indonesia</td>
|         <td>Front-end Developer</td>
|       </tr>
|       <tr>
|         <td>Salman</td>
|         <td>Male</td>
|         <td>0123456789</td>
|         <td>Indonesia</td>
|         <td>Front-end Developer</td>
|       </tr>
|       <tr>
|         <td>Salman</td>
|         <td>Male</td>
|         <td>0123456789</td>
|         <td>Indonesia</td>
|         <td>Front-end Developer</td>
|       </tr>
|       <tr>
|         <td>Salman</td>
|         <td>Male</td>
|         <td>0123456789</td>
|         <td>Indonesia</td>
|         <td>Front-end Developer</td>
|       </tr>
|       <tr>
|         <td>Salman</td>
|         <td>Male</td>
|         <td>0123456789</td>
|         <td>Indonesia</td>
|         <td>Front-end Developer</td>
|       </tr>
|     </tbody>
|   </table>
| </div>

script(src="fixed-header.js")
