doctype html
body
    #contain
        table#table_scroll(border="0")
            thead
                tr
                    //-th #
                    th Name
                    th Gender
                    th Phone
                    th Country
                    th Position
            tbody
                <tr>
                <td>Salman</td>
                <td>Male</td>
                <td>0123456789</td>
                <td>Indonesia</td>
                <td>Front-end Developer</td>
                </tr>
                <tr>
                <td>Salman</td>
                <td>Male</td>
                <td>0123456789</td>
                <td>Indonesia</td>
                <td>Front-end Developer</td>
                </tr>
                <tr>
                <td>Salman</td>
                <td>Male</td>
                <td>0123456789</td>
                <td>Indonesia</td>
                <td>Front-end Developer</td>
                </tr>
                <tr>
                <td>Salman</td>
                <td>Male</td>
                <td>0123456789</td>
                <td>Indonesia</td>
                <td>Front-end Developer</td>
                </tr>
                <tr>
                <td>Salman</td>
                <td>Male</td>
                <td>0123456789</td>
                <td>Indonesia</td>
                <td>Front-end Developer</td>
                </tr>
                <tr>
                <td>Salman</td>
                <td>Male</td>
                <td>0123456789</td>
                <td>Indonesia</td>
                <td>Front-end Developer</td>
                </tr>
                <tr>
                <td>Salman</td>
                <td>Male</td>
                <td>0123456789</td>
                <td>Indonesia</td>
                <td>Front-end Developer</td>
                </tr>
                <tr>
                <td>Salman</td>
                <td>Male</td>
                <td>0123456789</td>
                <td>Indonesia</td>
                <td>Front-end Developer</td>
                </tr>

script(src="general.js")
