doctype html
body
    h1 Table Auto Scroll Demo
    p
        | Sample:
        a(href="./general/general.pug") general

        | Contains some code snipt of:
        a(href="https://codepen.io/salman31/pen/dYdGLa") Table Autoscroll

    p
        | Sample:
        a(href="./fixed-header/fixed-header.pug") fixed-header

        | Contains some code snipt of:
        a(href="https://codepen.io/salman31/pen/EVQQZd?editors=1111") Table Fixed Autoscroll
